.container-fluid{
    background-color: rgb(100, 100, 100); 
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.row{
    /* background-color: aqua; */
}
.bounding-col{
    background-color: rgb(68, 68, 68);  
    margin: 10px;
    border-radius: 1rem;
}
.no-padding{
    padding: 0;
    margin: 0;
}

.d-inline-block{
    justify-content: center;
    align-items: center;
}
.photo-row {        
    height: 250px;
}
.friends-row{
    /* height: 250px; */
}

.friends-table{
    border-width: 2px;
    border-color: black;
    padding: 2px;
    background-color: aqua;
}
.friends-table-row{
    padding: 0;
    margin: 0;
}


.user-photo {
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 1rem;
    object-fit: cover;
}
.big-text{
    font-size: x-large;
    font-weight: bold;
}
